<h1>About Carbicle</h1>
<div class="about">
    <p>
        <i>"Carbicle"</i> is a place, where you can browse some of the most popular cars in the world and add
        some new cars that
        you have discovered. 
    </p>
</div>